body {
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between; /*+ below v v v v*/
    min-height: 100vh; /*this is how to put the footer on the bottom <----*/
}

.header {
    color: white;
    background-color: red;
    font-size: 20px;
    padding: 10px 420px 10px 420px;

    display: flex;
    justify-content: space-between;
}

.headerlinks { 
    display: flex; /*this is necessary to split the flexbox's left-right <----*/
    gap: 35px; 

}

.herosection {
    background-color: yellow;
    flex: 1; /*flex:1 fills in the gaps on justify-content: space-between; <----*/
    padding: 10px 420px 10px 420px;
    display: flex; /*this aligns div children inside left right <--------*/
    justify-content: space-between;

}

.herocontainerleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left; 
}

.herocontainerright {
    display: flex;
    justify-content: right;
    align-items: center;
}

.infosection {
    background-color: green;
    flex: 1;
    padding: 10px 420px 10px 420px;
    display: flex; /*this aligns div children inside left right <--------*/
}

.infoimage {
    border-radius: 18px;
    border: solid 3px blue;
}

.quotesection {
    background-color: aqua;
    flex: 1;
    
}

.bottomsignupsection {
    background-color: pink;
    flex: 1;
}

.footer {
    color: white;
    background-color: blue;
    font-size: 20px;
    text-align: center;
    padding: 10px 420px 10px 420px;

    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
}